<app-nav-right [width]="'400px'" (closed)="onCloseFilter()">
    <h3 class="drawer-heading">Filters</h3>

    <div class="drawer-section pos-r scrollable">
        <form>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input class="form-control" id="inputEmail4" placeholder="Email" type="email">
                        <small class="form-text text-muted">Ex. email</small>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input class="form-control" id="inputPassword4" placeholder="Password" type="password">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input class="form-control" id="inputAddress" placeholder="1234 Main St" type="text">
                </div>

                <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"
                           type="text">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input class="form-control" id="inputCity" type="text">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select class="form-control" id="inputState">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input class="form-control" id="inputZip" type="text">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="fw-500">Birthdate</label>
                        <div class="timepicker-input input-icon form-group">
                            <div class="input-group">
                                <div class="input-group-addon bgc-white bd bdwR-0">
                                    <i class="ti-calendar"></i>
                                </div>

                                <input class="form-control bdc-grey-200 datepicker" data-provide="datepicker"
                                       placeholder="Datepicker"
                                       type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" (click)="submit()">Sign in</button>
            </form>
        </form>
    </div>
</app-nav-right>
