.app-drawer-wrapper {
    min-height: 100vh;
    position: fixed;
    right: -450px;
    top: 0;
    transition: all .2s;
    z-index: 1000;
    overflow: hidden;

    &.drawer-open {
        right: 0;
        box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3), 0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
    }

    .drawer-nav-btn {
        border-radius: 30px;
        background: #fff;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        z-index: 20;
    }

    .drawer-content-wrapper {
        background: #fff;
        position: relative;

        & .drawer-heading {
            font-size: .968rem;
            color: #495057;
            margin: 0;
            background: #f8f9fa;
            padding: .75rem 1.5rem;
            border-bottom: #dee2e6 solid 1px;
            border-top: #dee2e6 solid 1px;

            &:first-child {
                border-top: 0;
            }
        }

        & .drawer-section {
            height: calc(100vh - 48px);
            padding: 1.5rem;
        }
    }
}

.app-drawer-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
    display: block;
    content: '';
    left: 0;
    top: 0;
}
